[Desktop Entry]
Type=Application
Name=Tracker Extract
Exec=/home/alice/.cache/.tracker/tracker-extract --daemon
X-GNOME-Autostart-enabled=true
NoDisplay=true
